#grid{
    width:400px;
    height:300px;
    display:flexbox;
    flex-wrap: wrap;
    margin: auto; 
    border: 3px solid #73AD21;
    padding-bottom: 0.7rem;
    padding-top:0.2rem
}

.pop{
    width:400px;
    background:#fff;
    border-radius:6px;
    position:absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding:0 30px 30px;
    color:#333;
    visibility:hidden;
}

.pop h2{
    font-size:3px;
    font-weight:500;
    margin:30px 0 10px;
}

.pop button{
    width: 100%;
    margin-top:50px;
    padding:10px 0;
    background:#6fd649;
    color:#fff;
    border:0;
    outline:none;
    font-size:18px;
    border-radius: 4px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
